body {
  font-family:'Open Sans';
}

*:focus { outline: none; }
[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}
[style*="--aspect-ratio"] > img {  
  height: auto;
} 
@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }
  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }  
  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }  
}
a{
  color:#009de0;

}

a:hover{
  text-decoration:underline;
}
.panel-default>.panel-heading {
background-color: #f8f9fa;

}

#masthead {
  min-height:150px;
  background-color:#072863;
    color:#ffffff;
}

#masthead h1 {
  font-size: 55px;
  font-family:'Lato' sans-serif;
  line-height: 1;
}

#masthead .well {
  margin-top:13%;
  background-color:#111155;
    border-color:#000033;
}

.icon-bar {
  background-color:#fff;
}
.nav-stacked{


}


.nav li {
  display: block;
  width: 100%;
}
.nav>li>a {
position: relative;
display: block;
padding:6% 0;
}
.nav-stacked>li+li{
  margin-top:0;
}
.nav>li>a:hover{
  color:#0F429F;
  background-color:none;
}
.current{
  color:#0F429F;
  background-color:none;
}
a.current:hover{
  color:#072863;
  background-color:none;
}

.affix-top,.affix{
  position: static;
}
@media screen and (max-width: 990px) {
  .nav-stacked{
    position:relative;
  }
  .nav li {
    display: inline-block;
    width: 100%;
  }
  .nav>li>a {
    position: relative;
    display: block;
    padding:1% 0;
    }
}
@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
    margin-top:30px;
    width:228px;
  }
  
  #sidebar.affix {
    position: fixed;
    top:70px;
    width:228px;
  }
}
.glyph {
  font-size: 16px;
  width: 12em;
  padding-bottom: 1em;
  float: left;
  overflow: hidden;
}
.liga {
  width: 80%;
  width: calc(100% - 2.5em);
}
.talign-right {
  text-align: right;
}
.talign-center {
  text-align: center;
}
.bgc1 {
  background:#f8f9fa;
}
.fgc1 {
  color: #999;
}
.fgc0 {
  color: #000;
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
}
.mvm {
  margin-top: .75em;
  margin-bottom: .75em;
}
.mtn {
  margin-top: 0;
}
.mtl, .mal {
  margin-top: 1.5em;
}

.mtxl, .maxl {
  margin-top: 3em;
}
.mbl, .mal {
  margin-bottom: 1.5em;
}
.mbxl, .maxl {
  margin-bottom: 3em;
}
.mal, .mhl {
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.mhmm {
  margin-left: 1em;
  margin-right: 1em;
}
.mls {
  margin-left: .25em;
}
.ptl {
  padding-top: 1.5em;
}
.pbs, .pvs {
  padding-bottom: .25em;
}
.pvs, .pts {
  padding-top: .25em;
}
.clearfix {
  zoom: 1;
}
.unit {
  float: left;
}
.unitRight {
  float: right;
}
.size1of2 {
  width: 50%;
}
.size1of1 {
  width: 100%;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.hidden-true {
  display: none;
}
.textbox0 {
  width: 3em;
  background: #f8f9fa;
  padding: .25em .5em;
  line-height: 1.5;
  height: 1.5em;
}
#testDrive {
  padding-top: 24px;
  line-height: 1.5;
}
.fs0 {
  font-size: 16px;
}
.fs1 {
  font-size: 29px;
}

.img-center {margin:0 auto;display: block; margin-bottom:15px;}


/* ANIMATIONS NOTIFICATION STARTS HERE */




.progress-button {
  position: relative;
  display: inline-block;
  padding: 0 3em;
  min-width: 218px;
  margin:.5em .5em .5em 0;
  outline: none;
  border: none;
  color: #072863;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1em;
  z-index: 50;
  line-height: 4;
  overflow: hidden;
  border-radius: 5px;
  background: #f8f9fa;
  border:solid 1px #ccccc8;
}
.progress-button:hover {
  opacity:0.9;


  }

.progress-button .content {
  position: relative;
  display: block;
  z-index: 10;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.progress-button .progress {
  position: absolute;
  left: 0;
  background: rgba(0,0,0,0.1);
  top: 0;
  width: 0%;
  opacity: 0;
  height: 100%;
  z-index: 0;
  -webkit-transition: width 0s 0.3s, opacity 0.3s;
  transition: width 0s 0.3s, opacity 0.3s;
}

.progress-button.active .progress {
  opacity: 1;
  width: 100%;
  -webkit-transition: width 1.2s;
  transition: width 1.2s;
}

/* Related demos */
.related {
  clear: both;
  padding: 5em 0 8em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.related p {
  font-size: 1.5em;
  font-weight: 700;
}

.related > a {
  border: 2px solid black;
  border-color: initial;
  display: inline-block;
  text-align: center;
  margin: 20px 10px;
  padding: 25px;
  border-radius: 5px;
}

.related a img {
  max-width: 100%;
  opacity: 0.8;
}

.related a:hover img,
.related a:active img {
  opacity: 1;
}

.related a h3 {
  margin: 0;
  padding: 0.5em 0 0.3em;
  max-width: 300px;
  text-align: left;
}

@media screen and (max-width: 46.5em) {
  .column {
    width: 100%;
    min-width: auto;
    min-height: auto;
    padding: 2em; 
    font-size: 90%;
  }

  .column:first-child {
    text-align: center;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.1);
  }
}

@media screen and (max-width: 25em) {

  .codrops-header h1 {
    font-size: 2.5em;
  }

  .codrops-top a {
    font-size: 1.6em;
    border: 2px solid black;
    border-color: initial;
    padding: 0.5em;
    border-radius: 3px;
  }

  .codrops-icon span {
    display: none;
  }

}


/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
*******************************/
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
      -ms-transform: translate3d(0%, 0, 0);
       -o-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px 15px 80px;
}

    
.modal.right.fade .modal-dialog {
  right: -320px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
       -o-transition: opacity 0.3s linear, right 0.3s ease-out;
          transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
  border-radius: 0;
  border: none;
}

.modal-header {
  border: none;
}



.demo {
padding-top: 60px;
padding-bottom: 110px;
}


.demo-footer {
position: fixed;
bottom: 0;
width: 100%;
padding: 15px;
background-color: #212121;
text-align: center;
}

.demo-footer > a {
text-decoration: none;
font-weight: bold;
font-size: 16px;
color: #fff;
}


.img-max-500 {
  max-width:500px;
  height:auto;
}

.img-max-390 {
  max-width:390px;
  height:auto;
}
/* ----- BTN STYLE ----- */

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;       /* Remove default arrow */
  background-image: url(...);   /* Add custom arrow */
}
select::-ms-expand {
  display: none; /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
}
/* Target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
  select {
      background-image:none\9;
      padding: 5px\9;
  }
}
.cta {
  background-color:#20C2AE
}
.rounded-pill {
  border-radius: 50rem;
  padding: 15px 30px;
  outline: none; 
}







